<div *ngIf="showModal" class="mat-elevation-z8 modal-backdrop" (click)="onBackdropClick($event)">
  <div class="panel" (click)="$event.stopPropagation()">
    <h2 class="title">Confirmar eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ userName }}</strong>?</p>

    <div class="actions">
      <button mat-button class="custom-button" (click)="close()">Cancelar</button>
      <button mat-flat-button color="warn" class="custom-button" (click)="confirm()">Eliminar</button>
    </div>
  </div>
</div>
