<div *ngIf="showModal" class="mat-elevation-z8 backdrop" (click)="onBackdropClick($event)">
  <div class="panel" (click)="$event.stopPropagation()">
    <h2 class="title">Confirmar eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ userName }}</strong>?</p>

    <div class="actions">
      <button mat-stroked-button class="cancel-btn" (click)="close()">Cancelar</button>
      <button mat-raised-button color="warn" (click)="confirm()">Eliminar</button>
    </div>
  </div>
</div>
